##
# i3 config file (v4)
#
# Please see http://i3wm.org/docs/userguide.html for a complete reference!
##

# Uses Super key as Mod
set $mod Mod4

# Font for window titles. Will also be used by the bar unless a different font
# is used in the bar {} block below.
font pango:Ubuntu Mono, DejaVu Sans Mono, Awesome 10

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# kill focused window
bindsym $mod+Shift+q kill

# Change window focus
bindsym $mod+j focus left
bindsym $mod+k focus down
bindsym $mod+l focus up
bindsym $mod+ntilde focus right
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# Move focused window
bindsym $mod+Shift+j move left
bindsym $mod+Shift+k move down
bindsym $mod+Shift+l move up
bindsym $mod+Shift+ntilde move right
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# Split windows
bindsym $mod+h split h
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# Focus the parent/child container
bindsym $mod+a focus parent
#bindsym $mod+d focus child


# set workspaces
set $ws1 "1:        "
set $ws2 "2:        "
set $ws3 "3:  λ  "
set $ws4 "4:    4   "
set $ws5 "5:    5   "
set $ws6 "6:    6   "
set $ws7 "7:    7   "
set $ws8 "8:    8   "
set $ws9 "9:        "
set $ws10 "10:        "

# switch to workspace
bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9
bindsym $mod+0 workspace $ws10
# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8
bindsym $mod+Shift+9 move container to workspace $ws9
bindsym $mod+Shift+0 move container to workspace $ws10



# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"


# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
        bindsym j resize shrink width 10 px or 10 ppt
        bindsym k resize grow height 10 px or 10 ppt
        bindsym l resize shrink height 10 px or 10 ppt
        bindsym ntilde resize grow width 10 px or 10 ppt

        # same bindings, but for the arrow keys
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"


# Color theme
set $bg-color 	         #2f343f
set $inactive-bg-color   #2f343f
set $text-color          #f3f4f5
set $inactive-text-color #676E7D
set $urgent-bg-color     #E53935
set $binding-bg-color	 #2aa198

# window colors
#                       border              background         text                 indicator
client.focused          $bg-color           $bg-color          $text-color          #00ff00
client.unfocused        $inactive-bg-color  $inactive-bg-color $inactive-text-color #00ff00
client.focused_inactive $inactive-bg-color  $inactive-bg-color $inactive-text-color #00ff00
client.urgent 	        $urgent-bg-color    $urgent-bg-color   $text-color          #00ff00


# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
bar {
    status_command i3status
	position top
	font pango:DejaVu Sans Mono, Awesome 10
	strip_workspace_numbers yes

	colors {
		background $bg-color
		separator #757575
	    
		#                  border             background         text
		focused_workspace  $bg-color          $bg-color          $text-color
		inactive_workspace $inactive-bg-color $inactive-bg-color $inactive-text-color
		urgent_workspace   $urgent-bg-color   $urgent-bg-color   $text-color
		binding_mode       $binding-bg-color  $binding-bg-color	 $text-color
	}
}


# i3-gaps
# for_window [class="^.*"] border pixel 0
gaps inner 24
gaps outer 0
smart_gaps on


# Screen brightness and volume controls
bindsym XF86MonBrightnessUp exec light -A 10
bindsym XF86MonBrightnessDown exec light -U 10
bindsym XF86AudioRaiseVolume exec --no-startup-id amixer set Master 10%+
bindsym XF86AudioLowerVolume exec --no-startup-id amixer set Master 10%-

# Locking screen
bindsym $mod+shift+x exec ~/.local/bin/lock.sh ~/wallpaper/lock.png

# Screenshots
bindsym --release Print exec scrot -s '%Y-%m-%d_$wx$h.png' -e 'mv $f ~/Pictures/'

# Executing multiple programs with keybindings
bindsym $mod+shift+m exec emacsclient -c
bindsym $mod+shift+n exec nemo --no-desktop
bindsym $mod+Return exec xfce4-terminal


# Rofi
bindsym $mod+d exec rofi -show run -lines 5 -eh 2 -width 1200 -padding 0 -opacity "85" -bw 0 -bc "$bg-color" -fg "$text-color" -hlbg "$bg-color" -font "DejaVu Sans Mono 24"


# org-capture mode
set $mode_capture Capture (b) bug (i) idea (t) task
mode "$mode_capture" {
     bindsym b exec emacsclient -c -e '(org-capture nil "b")', mode "default"
     bindsym i exec emacsclient -c -e '(org-capture nil "i")', mode "default"
     bindsym t exec emacsclient -c -e '(org-capture nil "t")', mode "default"

     bindsym Return mode "default"
     bindsym Escape mode "default"
}
bindsym $mod+c mode "$mode_capture"

# Window assignment
assign [class="Emacs" title="agenda"] $ws1
assign [class="Firefox"] $ws2
assign [class="Emacs" title="math"] $ws3
assign [class="Telegram"] $ws9
assign [class="Xfce4-terminal" window_role="music"] $ws10
for_window [class="Emacs" title="CAPTURE"] floating enable
for_window [class="Emacs" title="CAPTURE"] resize set 1880 480
for_window [class="Emacs" title="CAPTURE"] move position center

# Startup
# Background and window composition
exec --no-startup-id sh ~/.fehbg
exec --no-startup-id redshift
exec compton -f -r 12 -o 0.25 -l 0 -t 0 -c -i 0.90
exec --no-startup-id /usr/lib64/gnome-settings-daemon/gnome-settings-daemon
# Startup apps
exec firefox
exec telegram-desktop
exec dropbox
exec emacsclient -c -F '((title . "agenda"))'
exec emacsclient -c -e "(find-file m42/math-file)" -F '((title . "math"))'
exec xfce4-terminal --role="music" -x mpsyt