# i3status configuration file.
# see "man i3status" for documentation.

# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

general {
        colors = true
        interval = 5
	color_good = "#36E592"
	color_degraded = "#CE9726"
	color_bad = "#CE4B4F"
	color_separator = "#B3BEFF"
}


order += "wireless _first_"
order += "volume master"
order += "battery 0"
order += "tztime local"


wireless _first_ {
	format_up = "    %essid (%quality) "
        format_down = "    "
}

ethernet _first_ {
        format_up = " (%ip)"
        format_down = " "
}

battery 0 {
        format = " ⚡ %percentage "
        format_down = "No battery"
        status_chr = "⚡ CHR"
        status_bat = "🔋 BAT"
        status_unk = "? UNK"
        status_full = "☻ FULL"
        path = "/sys/class/power_supply/BAT%d/uevent"
        low_threshold = 10
}

run_watch DHCP {
        pidfile = "/var/run/dhclient*.pid"
}

run_watch VPN {
        pidfile = "/var/run/vpnc/pid"
}

tztime local {
        format = "    %A, %d %b %H:%M  "
}

load {
        format = "%1min"
}

disk "/home" {
        format = "    %avail "
}

volume master {
        format = "    %volume "
        format_muted= "  %volume "
        device = "default"
        mixer = "Master"
        mixer_idx = 0
}